.dark {
  .navbar {
    background-color: #212529;
    .btn {
      border: 2px solid #212529;
    }
    span {
      color: white;
    }
    i {
      color: white;
    }
    .nav-item {
      border: 2px solid white;
      border-radius: 8px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px 5px;
    }
    .nav-title {
      color: white;
      border: 2px solid white;
      border-radius: 8px;
      width: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .langu {
      color: white;
      border: 2px solid white;
    }
    .mod {
      border: 2px solid white;
    }
  }
  .card {
    background-color: #212529;
    border-radius: 15px;
    p {
      color: white;
    }
    .inf {
      color: rgb(0, 110, 255);
    }
    .trash {
      color: rgb(240, 59, 59);
    }
    .btn {
      background-color: white;
    }
    img {
      border-radius: 8px;
    }
  }
  .skelet {
    .card {
      background-color: #212529;
    }
  }
  .mod {
    background-color: #212529;
    border: 2px solid white;
    color: white;
    border-radius: 10px;
    text-transform: uppercase;
  }
}

.light {
  background-color: #212529;
  .navbar {
    background-color: white;
    .btn {
      border: 2px solid #212529;
    }
    span {
      color: #212529;
    }
    i {
      color: #212529;
    }
    .nav-item {
      border: 2px solid #212529;
      border-radius: 8px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px 5px;
    }
    .nav-title {
      color: #212529;
      border: 2px solid #212529;
      border-radius: 8px;
      width: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .langu {
      color: #212529;
    }
  }
  .card {
    border-radius: 15px;
    background-color: white;
    p {
      color: #212529;
    }
    .btn {
      border: 2px solid #212529;
    }
  }
  .table {
    th {
      color: white;
    }
    td {
      color: white;
    }
  }
  .mod {
    background-color: white;
    border: 2px solid white;
    color: #212529;
    border-radius: 10px;
    text-transform: uppercase;
  }
  img {
    border: 2px solid #212529;
    border-radius: 8px;
    padding: 10px;
  }
  .market {
    color: white;
  }
}

.body {
  position: relative;
  top: 60px;
}

.conta {
  position: relative;
  top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  input {
    margin: 10px;
  }
}

.pagination-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.select {
  width: 50px;
  height: 40px;
  margin: 0px 20px 15px 0px;
}

.but {
  display: flex;
  justify-content: space-between;
}

.inf {
  color: rgb(0, 123, 255);
  font-size: 25px;
}

.trash {
  color: red;
  font-size: 20px;
}

.korz {
  color: green;
  font-size: 20px;
}

.cont {
  display: flex;
  flex-wrap: wrap;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.market {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  padding: 0px 20px;
  h2 {
    font-size: 40px;
  }
}

.poisk {
  input {
    border: 2px solid;
    border-radius: 8px;
  }
}

.navbar {
  position: fixed;
  z-index: 1;
  width: 100%;
}

.imgcheck {
  display: flex;
  flex-direction: column;
  position: relative;
  .form-check {
    position: absolute;
    top: 1px;
    right: 1px;
    input {
      border: 2px solid #212529;
    }
  }
}
