.basket {
  position: relative;
  color: #212529;
  .basket_count {
    background-color: lightskyblue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    position: absolute;
    top: -8px;
    right: -8px;
  }
}
.bi-basket {
  font-size: 25px;
}

.basket {
  position: relative;
}
